.home{
    display: flex;
    align-items: center;
    min-height: calc(95vh - 91px);
    position: relative;
    width: 100%;
}

.foto{
    display:flex;
    width: 500px;
    height: 500px;
    justify-content: center;
    padding-left: 30%;
}

.foto img{
    border-radius: 50px;
}

.title{
    font-size: 4rem;
}

.principal{
    display: flex;
    flex-direction: column;
    padding-left:8%;
    line-height: 1;
}