/*  padding = espaçamento 
    z-index é em que camada ele está */
header{
    background-color: var(--cor-primaria-5);
    width: 100%;
    justify-content: center;
    padding:28px 8%;
    top:0;
    position: sticky;
    z-index: 3;
}

.navbar{
    
    background-color: var(--cor-primaria-2);
    width: 20%;
    padding-top: .5%;
    padding-bottom: .5%;
    display: flex;
    justify-content: center;
    height: 20%;
}

/*  O gap é espaçamento entre */
.nav-list{
    background-color: var(--cor-primaria-3);
    display:flex;
    gap: 40px;
}

.menu-bar{

    background-color: aliceblue;
}