/*  padding = espaçamento 
    z-index é em que camada ele está */
header{
    width: 100%;
    display: flex;
    justify-content: center;
    padding:28px 8%;
    top:0;
    position: sticky;
    z-index: 3;
}

.navbar{
    width: 250px;
    padding-top: .5%;
    padding-bottom: .5%;
    display: flex;
    justify-content: center;
    height: 20%;
    border-radius: 8px;
    background-color: rgb(95, 95, 109, .001); 
    backdrop-filter: blur(12px);          /* efeito vidro */
    -webkit-backdrop-filter: blur(12px); 
}

/*  O gap é espaçamento entre */
.nav-list{
    display:flex;
    gap: 40px;
}

.menu-bar{
}