.rodape{
    background-color: var(--cor-primaria-2);
}

.rodape-itens{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 8% 24px 8%;
}

.copyright{
    color: var(--cor-primaria-4);
    font-weight: 500;
    font-size: 18px;
    padding-bottom: 20px;
}

.fa-brands{
    color: var(--cor-primaria-4);
}